{% extends 'baseTemplate/base.html' %}

{% block content %}
    
{% include 'baseTemplate/nav.html' %}

<div class="container mt-4">
    <div class="row">

        <h3>{{ obj.titulo }}</h3>
        <p>{{ obj.data_resumo() }}</p>

        <div class="col-md-6 mt-4">
            Usuario
            <input type="text" value="{{ obj.user.nome }}" class="form-control bg-dark text-white" readonly>
        </div>
        
        <div class="col-md-6 mt-4">
            E-mail
            <input type="text" value="{{ obj.user.email }}" class="form-control bg-dark text-white" readonly>
        </div>

        <div class="col-12 mt-4">
            Mensagem
            <textarea type="text" rows="10" class="form-control bg-dark text-white" readonly> {{ obj.mensagem }} </textarea>
        </div>

    </div>

    <div class="row mt-4">
        <h4>Comentar</h4>
    </div>

    
    <form action="" method="post" class="row mt-4 p-4 rounded border shadow">

        {{ form.csrf_token }}

        {{ form.comentario.label() }}
        {{ form.comentario(class="form-control") }}

        {{ form.btnSubmit(class="btn btn-primary col-12 mt-3")}}

    </form>

    <div class="row mb-4">
        {% for comentario in range(context.lenComentarios) %}
            <div class="col-12 bg-dark rounded text-white mt-2">
                {{ obj.comentarios[comentario].user.nome }} {{ obj.comentarios[comentario].user.sobrenome }}<span>, </span>
                {{ obj.comentarios[comentario].data_resumo() }} <br>
                {{ obj.comentarios[comentario].comentario }}
            </div>
            
        {% endfor %}
    </div>
</div>

{% endblock %}