{% extends 'baseTemplate/base.html' %}

{% block content %}
    
{% include 'baseTemplate/nav.html' %}

<div class="container mt-4">
    <div class="row">

        <h3>{{ obj.nome }} {{ obj.sobrenome }}</h3>
        <p>{{ obj.data_cadastro }}</p>

        <div class="col-md-6 mt-4">
            Usuario
            <input type="text" value="{{ obj.nome }} {{ obj.sobrenome }}" class="form-control bg-dark text-white" readonly>
        </div>
        
        <div class="col-md-6 mt-4">
            E-mail
            <input type="text" value="{{ obj.email }}" class="form-control bg-dark text-white" readonly>
        </div>

        <form action="" method="post" class="row mt-4 p-4 rounded border shadow">
            {{ form.csrf_token }}

            <div class="col-md-6 mt-2">
                {{ form.nome.label() }}
                {{ form.nome(class="form-control col-6 bg-dark text-white") }}
            </div>

            <div class="col-md-6 mt-2">
                {{ form.sobrenome.label() }}
                {{ form.sobrenome(class="form-control col-6 bg-dark text-white")}}
            </div>

            <div class="col-12 mt-2">
                {{ form.email.label() }}
                {{ form.email(class="form-control col-12 bg-dark text-white")}}
            </div>
            
            <div class="col-12 mt-2">
                {{ form.senha.label() }}
                {{ form.senha(class="form-control col-12 bg-dark text-white")}}
            </div>
            
            <div class="col-12 mt-2">
                {{ form.confirmacao_senha.label() }}
                {{ form.confirmacao_senha(class="form-control col-12 bg-dark text-white")}}
            </div>
                
            <div class="col-12 mt-4">
                {{ form.btnSubmit(class="btn btn-dark mt-4 col-12")}}
            </div>
        </form>

        <div class="col-12 mt-4">
            Posts
            <input type="text" value="{{ context.lenPosts }} Posts:" class="form-control bg-dark text-white" readonly></input>
            <table class="table">
                <tbody>
                    {% for post in range(context.lenPosts) %}<a href="{{ url_for('postDetail', id=post) }}">
                        <tr>
                            <td>
                                <a href="{{ url_for('postDetail', id=post+1) }}">
                                    {{ current_user.posts[post].titulo }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}