<a href="{{url_for('homepage')}}" class="btn btn-dark m-2">
    Homepage
</a>
<!--<a href="{{url_for('amor')}}" class="btn btn-dark m-2">
    amor.html
</a>
<a href="{{url_for('contato_old')}}" class="btn btn-dark m-2">
    Contato_Old
</a>-->
<a href="{{url_for('contato')}}" class="btn btn-dark m-2">
    Contato
</a>
<a href="{{url_for('contatoLista')}}" class="btn btn-dark m-2">
    Lista de Contatos
</a>
<a href="{{url_for('editorBlog')}}" class="btn btn-dark m-2">
    Blog
</a>
<a href="{{url_for('postNovo')}}" class="btn btn-dark m-2">
    Post
</a>
<a href="{{url_for('postLista')}}" class="btn btn-dark m-2">
    Post - Lista
</a>

{% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard') }}" class="btn btn-dark m-2">
        {{ current_user.nome }} {{ current_user.sobrenome }}
    </a>
    <a href="{{ url_for('logout') }}" class="btn btn-dark m-2">
        Sair
    </a>
{% else %}
    <a href="{{url_for('login')}}" class="btn btn-dark m-2">
        Login
    </a>
{% endif %}
<hr>