{% extends 'baseTemplate/base.html' %}

{% block content %}

    {% include 'baseTemplate/nav.html' %}

    <div class="container">

        <div class="row mt-4">
            <h3>Lista de Contatos</h3>

            <form method="get" class="row mt-4">
                <div class="col-9">
                    <input type="text" name="pesquisa" id="" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary col-12">
                        Pesquisar
                    </button>
                </div>
            </form>

            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Assunto</th>
                            <th>Respondido</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for linha in context['dados'] %}
                            <tr>
                                <td>{{linha.nome}}</td>
                                <td>{{linha.email}}</td>
                                <td>{{linha.assunto}}</td>
                                <td>
                                    {% if linha.respondido == 1 %}
                                        Sim
                                    {% elif linha.respondido == 0 %}
                                        Não
                                    {% else %}
                                        Erro
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        </form>

        <hr>

    </div>

{% endblock %}